# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules
_upload
dev
prod
out
dist
lib
yarn-error.log
yarn.lock
*.zip
*.exe
.idea
package-lock.json
backup.json
editor/info.log
webtest/emcjs
webtest/emcjs-fe
import_tree.json
import_removed.json
import_unresolved.json
